SAPService/Web References/ESS_GET_WS_local/ESS_GET_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHrInfoForEss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pernrXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHrInfoForEssResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHrInfoForEssResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHrInfoForEssSoapIn">
    <wsdl:part name="parameters" element="tns:GetHrInfoForEss" />
  </wsdl:message>
  <wsdl:message name="GetHrInfoForEssSoapOut">
    <wsdl:part name="parameters" element="tns:GetHrInfoForEssResponse" />
  </wsdl:message>
  <wsdl:portType name="ESS_GET_WSSoap">
    <wsdl:operation name="GetHrInfoForEss">
      <wsdl:input message="tns:GetHrInfoForEssSoapIn" />
      <wsdl:output message="tns:GetHrInfoForEssSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESS_GET_WSSoap" type="tns:ESS_GET_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHrInfoForEss">
      <soap:operation soapAction="http://tempuri.org/GetHrInfoForEss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ESS_GET_WSSoap12" type="tns:ESS_GET_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHrInfoForEss">
      <soap12:operation soapAction="http://tempuri.org/GetHrInfoForEss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESS_GET_WS">
    <wsdl:port name="ESS_GET_WSSoap" binding="tns:ESS_GET_WSSoap">
      <soap:address location="http://localhost/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="ESS_GET_WSSoap12" binding="tns:ESS_GET_WSSoap12">
      <soap12:address location="http://localhost/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>